# Importing the libraries and loading the uncleaned Datasets

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Uncleaned_DS_jobs.csv')

# Data Exploration

In [4]:
#Displays first 5 columns and rows
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [6]:
#Shows the number of rows and columns in the dataset
df.shape

(672, 15)

In [7]:
#Displays the detailed information of all the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [8]:
#This set of code displays all the rows and columns in the dataset.
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [10]:
#Checks for the null value in the dataset.
df.isnull().sum()

index                0
Job Title            0
Salary Estimate      0
Job Description      0
Rating               0
Company Name         0
Location             0
Headquarters         0
Size                 0
Founded              0
Type of ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
dtype: int64

In [19]:
#dropping the index columns to find the duplicates as Python understands that all the columns are unique
df.drop('index',axis=1,inplace=True)

In [20]:
#checking whether the index column is dropped
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [23]:
#Shows the number of duplicate rows and columns
print(df[df.duplicated()].shape)

(13, 14)

In [24]:
#Displays all the duplicate rows and columns
df[df.duplicated()]

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
135,Machine Learning Engineer,$90K-$109K (Glassdoor est.),Role Description\nTriplebyte screens and evalu...,3.2,Triplebyte\n3.2,Remote,"San Francisco, CA",51 to 200 employees,2015,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
136,Senior Data Engineer,$90K-$109K (Glassdoor est.),Lendio is looking to fill a position for a Sen...,4.9,Lendio\n4.9,"Lehi, UT","Lehi, UT",201 to 500 employees,2011,Company - Private,Lending,Finance,$50 to $100 million (USD),-1
358,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
359,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
360,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
361,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
362,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
389,Data Scientist,$110K-$163K (Glassdoor est.),"Job Description\nAs a Data Scientist, you will...",-1.0,HireAi,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
496,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
497,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
498,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
499,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
500,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1

In [28]:
#drop all the duplicates values
df.drop_duplicates(inplace=True)

In [29]:
#checking the rows and columns after removing the duplicates
df.shape

(659, 14)

In [30]:
#reset the index,post removal of duplicates
df.reset_index(inplace=True)

In [32]:
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

# Removing the integer values in company column

In [33]:
df['Company Name']=df['Company Name'].apply(lambda x:x.split("\n")[0])

In [34]:
#Verifying the above code
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

# Changing the salary estimate column from string to integer

1. Removing all the string values in salary estimate column
2. Creating new columns(max_salary,min_salary,abg_salary)
3. Remove extra symbol and character in the respective column

In [38]:
#Counting the number of values in the salary estimate column
df['Salary Estimate'].value_counts()

Salary Estimate
$75K-$131K (Glassdoor est.)     32
$79K-$131K (Glassdoor est.)     32
$99K-$132K (Glassdoor est.)     32
$137K-$171K (Glassdoor est.)    30
$90K-$109K (Glassdoor est.)     28
$56K-$97K (Glassdoor est.)      22
$79K-$106K (Glassdoor est.)     22
$90K-$124K (Glassdoor est.)     22
$92K-$155K (Glassdoor est.)     21
$138K-$158K (Glassdoor est.)    21
$128K-$201K (Glassdoor est.)    21
$212K-$331K (Glassdoor est.)    21
$69K-$116K (Glassdoor est.)     21
$124K-$198K (Glassdoor est.)    21
$112K-$116K (Glassdoor est.)    21
$91K-$150K (Glassdoor est.)     21
$101K-$165K (Glassdoor est.)    21
$110K-$163K (Glassdoor est.)    20
$79K-$147K (Glassdoor est.)     20
$145K-$225K(Employer est.)      20
$31K-$56K (Glassdoor est.)      20
$141K-$225K (Glassdoor est.)    20
$66K-$112K (Glassdoor est.)     20
$80K-$132K (Glassdoor est.)     20
$87K-$141K (Glassdoor est.)     20
$105K-$167K (Glassdoor est.)    20
$79K-$133K (Glassdoor est.)     19
$71K-$123K (Glassdoor est.)     19
$122K-$146K (Glassdoor est.)    16
$95K-$119K (Glassdoor est.)     16
Name: count, dtype: int64

In [46]:
#importing Regular expression to replace specific type of pattern in respective columns
import re
df['min_salary'] = df['Salary Estimate'].apply(lambda x: int(re.findall(r'\d+', x.split('-')[0])[0]))
df['max_salary'] = df['Salary Estimate'].apply(lambda x: int(re.findall(r'\d+', x.split('-')[1])[0]))
df['avg_salary'] = (df['min_salary'] + df['max_salary']) / 2

In [49]:
df['min_salary'] = df['min_salary'] * 1000
df['max_salary'] = df['max_salary'] * 1000
df['avg_salary'] = df['avg_salary'] * 1000

In [50]:
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137000000,171000000,154000.0
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137000000,171000000,154000.0
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137000000,171000000,154000.0
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137000000,171000000,154000.0
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137000000,171000000,154000.0

In [54]:
df['min_salary'] = df['min_salary'] / 1000
df['max_salary'] = df['max_salary'] / 1000

In [82]:
df['min_salary'] = df['min_salary'].astype(int)

In [84]:
df['max_salary'] = df['max_salary'].astype(int)
df['avg_salary'] = df['avg_salary'].astype(int)

In [86]:
#Changing the Salary estimate column using min,max,avg columns.
for i in range(len(df)):
    df.loc[i, "Salary Estimate"] = str(df.loc[i, "min_salary"]) + "-" + str(df.loc[i, "max_salary"])

In [87]:
df.head()

,level_0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,python,excel,Sql,tableau,Sparx,machine learning,aws,State,Employee experience
0,0,0,Sr Data Scientist,137000-171000,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137000,171000,154000,0,0,0,0,0,1,1,NY,Senior employee
1,1,1,Data Scientist,137000-171000,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137000,171000,154000,0,0,1,0,0,1,0,VA,junior employee
2,2,2,Data Scientist,137000-171000,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137000,171000,154000,1,1,0,0,0,1,1,MA,junior employee
3,3,3,Data Scientist,137000-171000,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137000,171000,154000,1,1,1,0,0,1,1,MA,junior employee
4,4,4,Data Scientist,137000-171000,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137000,171000,154000,1,1,1,0,0,1,0,NY,junior employee

# Exctract Data Job Description
Create New Columns Based on Skill required for Job (Python,Excel,Sql,Tableau,Sparx,mechine learing,Aws) If Job description Contain Those skill in column print '1' otherwise '0' will print

In [62]:
df['Job Description'][0].split("\n\n")

['Description',
 'The Senior Data Scientist is responsible for defining, building, and improving statistical models to improve business processes and outcomes in one or more healthcare domains such as Clinical, Enrollment, Claims, and Finance. As part of the broader analytics team, Data Scientist will gather and analyze data to solve and address complex business problems and evaluate scenarios to make predictions on future outcomes and work with the business to communicate and support decision-making. This position requires strong analytical skills and experience in analytic methods including multivariate regressions, hierarchical linear models, regression trees, clustering methods and other complex statistical techniques.',
 'Duties & Responsibilities:',
 '• Develops advanced statistical models to predict, quantify or forecast various operational and performance metrics in multiple healthcare domains\n• Investigates, recommends, and initiates acquisition of new data resources from internal and external sources\n• Works with multiple teams to support data collection, integration, and retention requirements based on business needs\n• Identifies critical and emerging technologies that will support and extend quantitative analytic capabilities\n• Collaborates with business subject matter experts to select relevant sources of information\n• Develops expertise with multiple machine learning algorithms and data science techniques, such as exploratory data analysis and predictive modeling, graph theory, recommender systems, text analytics and validation\n• Develops expertise with Healthfirst datasets, data repositories, and data movement processes\n• Assists on projects/requests and may lead specific tasks within the project scope\n• Prepares and manipulates data for use in development of statistical models\n• Other duties as assigned',
 'Minimum Qualifications:',
 "-Bachelor's Degree",
 'Preferred Qualifications:',
 '- Master’s degree in Computer Science or Statistics\nFamiliarity with major cloud platforms such as AWS and Azure\nHealthcare Industry Experience',
 'Minimum Qualifications:',
 "-Bachelor's Degree",
 'Preferred Qualifications:',
 '- Master’s degree in Computer Science or Statistics\nFamiliarity with major cloud platforms such as AWS and Azure\nHealthcare Industry Experience',
 'WE ARE AN EQUAL OPPORTUNITY EMPLOYER. Applicants and employees are considered for positions and are evaluated without regard to mental or physical disability, race, color, religion, gender, national origin, age, genetic information, military or veteran status, sexual orientation, marital status or any other protected Federal, State/Province or Local status unrelated to the performance of the work involved.',
 'If you have a disability under the Americans with Disability Act or a similar law, and want a reasonable accommodation to assist with your job search or application for employment, please contact us by sending an email to careers@Healthfirst.org or calling 212-519-1798 . In your email please include a description of the accommodation you are requesting and a description of the position for which you are applying. Only reasonable accommodation requests related to applying for a position within Healthfirst Management Services will be reviewed at the e-mail address and phone number supplied. Thank you for considering a career with Healthfirst Management Services.\nEEO Law Poster and Supplement',
 ']]>']

In [63]:
df['python']=df['Job Description'].apply(lambda x: 1 if "python" in x.lower() else 0)
df['excel']=df['Job Description'].apply(lambda x: 1 if "excel" in x.lower() else 0)
df['Sql']=df['Job Description'].apply(lambda x: 1 if "sql" in x.lower() else 0)
df['tableau']=df['Job Description'].apply(lambda x: 1 if "tableau" in x.lower() else 0)
df['Sparx']=df['Job Description'].apply(lambda x: 1 if "Sparx" in x.lower() else 0)
df['machine learning']=df['Job Description'].apply(lambda x: 1 if "machine learning" in x.lower() else 0)
df['aws']=df['Job Description'].apply(lambda x: 1 if "aws" in x.lower() else 0)

In [64]:
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,python,excel,Sql,tableau,Sparx,machine learning,aws
0,0,Sr Data Scientist,137000.0-171000.0,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137000.0,171000.0,154000.0,0,0,0,0,0,1,1
1,1,Data Scientist,137000.0-171000.0,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137000.0,171000.0,154000.0,0,0,1,0,0,1,0
2,2,Data Scientist,137000.0-171000.0,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137000.0,171000.0,154000.0,1,1,0,0,0,1,1
3,3,Data Scientist,137000.0-171000.0,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137000.0,171000.0,154000.0,1,1,1,0,0,1,1
4,4,Data Scientist,137000.0-171000.0,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137000.0,171000.0,154000.0,1,1,1,0,0,1,0

# Create New Column State Using ['Location'] column

In [66]:
df['State']= df['Location'].apply(lambda x:x.split(",")[-1].strip())
df['State'].replace(['United States','New Jersey','California','Texas ','Remote','Utah'],["US","NJ","CA","Tx",np.nan,np.nan],inplace=True)
df.dropna(axis=0,inplace= True)
df.reset_index(inplace= True)

In [67]:
df.head()

,level_0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,python,excel,Sql,tableau,Sparx,machine learning,aws,State
0,0,0,Sr Data Scientist,137000.0-171000.0,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137000.0,171000.0,154000.0,0,0,0,0,0,1,1,NY
1,1,1,Data Scientist,137000.0-171000.0,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137000.0,171000.0,154000.0,0,0,1,0,0,1,0,VA
2,2,2,Data Scientist,137000.0-171000.0,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137000.0,171000.0,154000.0,1,1,0,0,0,1,1,MA
3,3,3,Data Scientist,137000.0-171000.0,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137000.0,171000.0,154000.0,1,1,1,0,0,1,1,MA
4,4,4,Data Scientist,137000.0-171000.0,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137000.0,171000.0,154000.0,1,1,1,0,0,1,0,NY

In [68]:
df['Job Title'].value_counts()

Job Title
Data Scientist                                                                                      326
Data Engineer                                                                                        26
Senior Data Scientist                                                                                19
Machine Learning Engineer                                                                            14
Data Analyst                                                                                         12
Senior Data Analyst                                                                                   6
Senior Data Engineer                                                                                  4
ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR      4
Data Science Software Engineer                                                                        4
Data Scientist - TS/SCI FSP or CI Required                                                            4
Data Scientist - TS/SCI Required                                                                      3
Principal Data Scientist                                                                              3
Senior Business Intelligence Analyst                                                                  3
AI Ops Data Scientist                                                                                 3
Data Modeler (Analytical Systems)                                                                     3
Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab                                   3
Analytics - Business Assurance Data Analyst                                                           3
Sr. ML/Data Scientist - AI/NLP/Chatbot                                                                3
Senior Machine Learning Scientist - Bay Area, CA                                                      3
Lead Data Scientist                                                                                   3
Decision Scientist                                                                                    3
Data Engineer - Kafka                                                                                 2
Applied Computer Scientist                                                                            2
Scientist / Group Lead, Cancer Biology                                                                2
Data Scientist(s)/Machine Learning Engineer                                                           2
Research Scientist - Patient-Centered Research (Remote)                                               2
Sr. Data Scientist II                                                                                 2
Computational Behavioral Scientist                                                                    2
Principal Data Scientist - Machine Learning                                                           2
Principal Machine Learning Scientist                                                                  2
Senior Data Scientist - R&D Oncology                                                                  2
Health Plan Data Analyst, Sr                                                                          2
Senior Machine Learning Engineer                                                                      2
Senior Scientist - Toxicologist - Product Integrity (Stewardship)                                     2
Cloud Data Engineer (Azure)                                                                           2
In-Line Inspection Data Analyst                                                                       2
VP, Data Science                                                                                      2
Weapons and Sensors Engineer/Scientist                                                                2
Data Scientist (TS/SCI w/ Poly)                                                                       2
Computer Vision / Deep Learning Scientist                                                             2
IT Partner Digital Health Technology and Data Science                                                 2
Senior Data Analyst - Finance & Platform Analytics                                                    2
Data Engineer (Analytics, SQL, Python, AWS)                                                           2
Intelligence Data Analyst, Senior                                                                     2
Analytics Manager - Data Mart                                                                         2
Sr. Data Scientist                                                                                    2
Scientist - Machine Learning                                                                          2
Machine Learning Engineer/Scientist                                                                   2
Data Analyst - Unilever Prestige                                                                      2
Sr Data Scientist                                                                                     2
Principal Scientist/Associate Director, Quality Control and Analytical Technologies                   2
Data Scientist - Image and Video Analytics                                                            2
Data Scientist/Machine Learning                                                                       2
Data Scientist 3 (718)                                                                                2
Real World Science, Data Scientist                                                                    2
Experienced Data Scientist                                                                            2
Data Scientist - Statistics, Early Career                                                             2
Data Scientist / Applied Mathematician                                                                2
Patient Safety- Associate Data Scientist                                                              2
Data Scientist, Kinship - NYC/Portland                                                                2
Data Scientist, Applied Machine Learning - Bay Area                                                   2
Staff Data Scientist - Analytics                                                                      2
Data Scientist / Machine Learning Expert                                                              2
Data Scientist - Machine Learning                                                                     2
Data & Machine Learning Scientist                                                                     2
Data Scientist - Intermediate                                                                         2
Product Data Scientist - Ads Data Science                                                             2
Data Analytics Engineer                                                                               2
Data Scientist-Human Resources                                                                        2
Senior Analyst/Data Scientist                                                                         2
Business Intelligence Analyst                                                                         2
Associate Data Scientist                                                                              2
Senior Research Statistician- Data Scientist                                                          2
Data Scientist - Risk                                                                                 2
Data Solutions Engineer - Data Modeler                                                                1
Data Analyst I                                                                                        1
Data Science All Star Program - Data Engineer Track                                                   1
Applied AI Scientist / Engineer                                                                       1
Data Analyst II                                                                                       1
Sr. Data Analyst                                                                                      1
Market Research Data Scientist                                                                        1
Business Intelligence Analyst I- Data Insights                                                        1
Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG                                      1
Medical Lab Scientist                                                                                 1
Senior Clinical Data Scientist Programmer                                                             1
Human Factors Scientist                                                                               1
Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift              1
Data Scientist (TS/SCI)                                                                               1
Data Modeler                                                                                          1
Data Architect                                                                                        1
Data Scientist/Data Analytics Practitioner                                                            1
Hydrogen/Tritium Materials Scientist (Experienced)                                                    1
Developer III - Data Science                                                                          1
Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics                                      1
Lead Data Scientist – Network Analysis and Control                                                    1
Enterprise Data Analyst (Enterprise Portfolio Management Office)                                      1
Vice President, Biometrics and Clinical Data Management                                               1
Scientist/Research Associate-Metabolic Engineering                                                    1
Information Systems Engineering Specialist (Engineering Scientist)                                    1
Machine Learning Engineer, Sr.                                                                        1
Aviation AI/ML Data Scientist                                                                         1
Big Data Engineer                                                                                     1
Computational Scientist, Machine Learning                                                             1
Data Science Manager                                                                                  1
Data Scientist Technical Specialist                                                                   1
Clinical Data Analyst                                                                                 1
Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)              1
COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY               1
Data Science Analyst                                                                                  1
Machine Learning Scientist / Engineer                                                                 1
COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING                       1
Manager, Field Application Scientist, Southeast                                                       1
Senior Principal Data Scientist (Python/R)                                                            1
Data Scientist- Industrial Discrete Sector Industry                                                   1
Scientist - Molecular Biology                                                                         1
Director of Data Science                                                                              1
Principal Data & Analytics Platform Engineer                                                          1
Development Scientist, Voltaren                                                                       1
Jr. Business Data Analyst (position added 6/12/2020)                                                  1
Health Data Scientist - Biomedical/Biostats                                                           1
Senior Data & Machine Learning Scientist                                                              1
Senior Data Scientist - Algorithms                                                                    1
Machine Learning Scientist - Bay Area, CA                                                             1
Sr Data Analyst                                                                                       1
Staff Data Scientist                                                                                  1
Computational Scientist                                                                               1
Geospatial Data Scientist                                                                             1
Say Business Data Analyst                                                                             1
ELISA RESEARCH SCIENTIST (CV-15)                                                                      1
Sr Scientist - Extractables & Leachables                                                              1
Staff Scientist- Upstream PD                                                                          1
Analytics Manager                                                                                     1
Scientist - Biomarker and Flow Cytometry                                                              1
Research Scientist Patient Preferences (Remote)                                                       1
AI Data Scientist                                                                                     1
Tableau Data Engineer 20-0117                                                                         1
Data Integration and Modeling Engineer                                                                1
Sr Data Engineer (Sr BI Developer)                                                                    1
RFP Data Analyst                                                                                      1
NGS Scientist                                                                                         1
Data Analyst/Engineer                                                                                 1
Applied Technology Researcher / Data Scientist                                                        1
Production Engineer - Statistics/Data Analysis                                                        1
Statistical Scientist                                                                                 1
Software Data Engineer                                                                                1
Data Scientist Machine Learning                                                                       1
Diversity and Inclusion Data Analyst                                                                  1
Manager / Lead, Data Science & Analytics                                                              1
Data Engineer, Digital & Comp Pathology                                                               1
Software Engineer - Data Science                                                                      1
Data Scientist - Statistics, Mid-Career                                                               1
Staff BI and Data Engineer                                                                            1
Environmental Data Science                                                                            1
Computer Scientist 1                                                                                  1
Real World Evidence (RWE) Scientist                                                                   1
Operations Data Analyst                                                                               1
Data Science Manager, Payment Acceptance - USA                                                        1
Equity Data Insights Analyst - Quantitative Analyst                                                   1
Staff Data Scientist - Pricing                                                                        1
Report Writer-Data Analyst                                                                            1
E-Commerce Data Analyst                                                                               1
Global Data Analyst                                                                                   1
Data Engineer (Remote)                                                                                1
Business Data Analyst                                                                                 1
Purification Scientist                                                                                1
Data Science Instructor                                                                               1
Data Engineer, Enterprise Analytics                                                                   1
AI/ML - Machine Learning Scientist, Siri Understanding                                                1
Name: count, dtype: int64

In [69]:
def employeetype(job_title):
    job_title=job_title.lower()
    emp=['sr','senior','lead','principal','vp','vice president','director']
    for i in emp:
        if i in job_title:
            return "Senior employee"
        else:
            return "junior employee"
    return NaN

In [70]:
df['Employee experience ']= df['Job Title'].apply(employeetype)

In [79]:
df.head()

,level_0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,python,excel,Sql,tableau,Sparx,machine learning,aws,State,Employee experience
0,0,0,Sr Data Scientist,137000.0-171000.0,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137000.0,171000.0,154000.0,0,0,0,0,0,1,1,NY,Senior employee
1,1,1,Data Scientist,137000.0-171000.0,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137000.0,171000.0,154000.0,0,0,1,0,0,1,0,VA,junior employee
2,2,2,Data Scientist,137000.0-171000.0,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137000.0,171000.0,154000.0,1,1,0,0,0,1,1,MA,junior employee
3,3,3,Data Scientist,137000.0-171000.0,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137000.0,171000.0,154000.0,1,1,1,0,0,1,1,MA,junior employee
4,4,4,Data Scientist,137000.0-171000.0,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137000.0,171000.0,154000.0,1,1,1,0,0,1,0,NY,junior employee

In [80]:
df.nunique()

level_0                 652
index                   652
Job Title               168
Salary Estimate          30
Job Description         484
Rating                   32
Company Name            428
Location                205
Headquarters            228
Size                      9
Founded                 103
Type of ownership        13
Industry                 58
Sector                   23
Revenue                  14
Competitors             108
min_salary               26
max_salary               26
avg_salary               26
python                    2
excel                     2
Sql                       2
tableau                   2
Sparx                     1
machine learning          2
aws                       2
State                    40
Employee experience       2
dtype: int64

In [88]:
df.to_csv('Data_science Job',index=False)